<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{/layout/index :: dynamic(~{::main})}">
<body>
	<main class="main-content">
		<div class="page-header-area">
			<div class="container">
				<div class="row">
					<div class="col-12 text-center">
						<div class="page-header-content">
							<nav class="breadcrumb-area">
								<ul class="breadcrumb">
									<li>
										<a href="/">Trang chủ</a>
									</li>
									<li class="breadcrumb-sep">/</li>
									<li>Đơn đặt hàng</li>
								</ul>
							</nav>
							<h4 class="title">Thông tin đặt hàng</h4>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="container my-3" th:object="${order}">
			<div class="account-form-wrap" style="padding: 0; box-shadow: none;">
				<div class="login-form">
					<div class="bg-success text-white p-3">Thông tin đặt hàng</div>
					<div class="row mt-2 mx-2">
						<div class="form-group col-sm-4">
							<label class="form-label">Đơn số:</label>
							<input th:field="*{id}" class="form-control" readonly>
						</div>
						<div class="form-group col-sm-4">
							<label class="form-label">Tài khoản mua:</label>
							<input th:field="*{account.username}" class="form-control" readonly>
						</div>
						<div class="form-group col-sm-4">
							<label class="form-label">Ngày mua:</label>
							<input th:field="*{createDate}" class="form-control" readonly>
						</div>
						<div class="form-group col-sm-12 mb-3">
							<label class="form-label">Địa chỉ giao hàng:</label>
							<input th:field="*{address}" class="form-control" readonly>
						</div>
					</div>
				</div>
			</div>
			<section class="product-area shopping-cart-area">
				<div class="row my-3">
					<div class="col-12">
						<div class="bg-success text-white p-3">Thông tin đặt hàng</div>
						<div class="shopping-cart-wrap">
							<div class="cart-table table-responsive">
								<table class="table">
									<thead>
										<tr>
											<th>ID</th>
											<th>Tên</th>
											<th>Giá</th>
											<th>Số lượng</th>
											<th>Tổng</th>
										</tr>
									</thead>
									<tbody>
										<tr th:each="detail:*{orderDetails}" th:object="${detail}">
											<td class="align-middle price">[[*{product.id}]]</td>
											<td class="align-middle text-start">[[*{product.name}]]</td>
											<td class="align-middle price">[[*{#numbers.formatDecimal(price,0,'COMMA',2,'POINT')}]] VNĐ</td>
											<td class="align-middle">[[*{quantity}]]</td>
											<td class="align-middle price">[[*{#numbers.formatDecimal(price*quantity,0,'COMMA',2,'POINT')}]] VNĐ</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</section>
			<a th:href="@{/order/list}" class="btn-theme pull-right my-2">Trở về trang đặt hàng</a>
		</div>
		<!--thay thế nội dung bằng nội dung của fragment có tên là "dynamic" 
trong tệp index.html của thư mục /layout.-->
	</main>
</body>
</html>