<div class="row mx-0 bg-white" ng-if="items">
	<div class="col-12 py-3">
		<table class="table table-collapse table-bordered">
			<thead class="bg-danger">
				<tr>
					<th>Username</th>
					<th ng-click="toggleShow()">Password</th>
					<th>Fullname</th>
					<th>Email</th>
					<th>Photo</th>
					<th>#</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="item in pager.items">
					<td class="align-center">{{item.username}}</td>
					<td class="align-center"><a ng-show="shouldShow">{{item.password}}</a></td>
					<td class="align-center">{{item.fullname}}</td>
					<td class="align-center">{{item.email}}</td>
					<td class="align-center">{{item.photo}}</td>
					<td class="align-center">
						<div class="btn-group btn-group-xs">
							<button ng-click="edit(item)" class="btn btn-icon">
								<i class="fa fa-xs fa-pen"></i>
							</button>
							<button ng-click="delete(item)" class="btn btn-danger">
								<i class="fa fa-xs fa-times"></i>
							</button>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
<div class="card-header text-center">
	<button ng-click="pager.first()" class="btn btn-danger">
		<i class="fas fa-arrow-to-left"></i>
	</button>
	<button ng-click="pager.prev()" class="btn btn-primary">
		<i class="fas fa-arrow-left"></i>
	</button>
	<button class="btn btn-success">{{pager.page + 1}} of {{pager.count?pager.count:'1'}}</button>
	<button ng-click="pager.next()" class="btn btn-primary">
		<i class="fas fa-arrow-right"></i>
	</button>
	<button ng-click="pager.last()" class="btn btn-danger">
		<i class="fas fa-arrow-to-right"></i>
	</button>
</div>
<script src="/assetss/js/init.js"></script>