<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{/layout/index :: dynamic(~{::main})}">

<body>
	<main class="main-content">
		<section class="product-area product-information-area">
			<div class="container">
				<div class="product-information">
					<div class="row">
						<div class="col-lg-7">
							<div class="edit-checkout-head">
								<div class="breadcrumb-area">
									<ul>
										<li>
											<a class="active" th:href="@{/cart/view}">Giỏ hàng</a>
											<i class="fa fa-angle-right"></i>
										</li>
										<li>Thanh toán</li>
									</ul>
								</div>
							</div>
							<div class="edit-checkout-information">
								<div class="edit-checkout-form">
									<h4 class="title">Địa chỉ giao hàng</h4>
									<div class="row row-gutter-12">
										<div class="col-lg-6">
											<div class="form-floating">
												<span class="form-control" style="line-height: 2.25;" id="username">[[${#request.remoteUser}]]</span>
												<label>Tên người dùng</label>
											</div>
										</div>
										<div class="col-lg-6">
											<div class="form-floating">
												<span class="form-control" style="line-height: 2.25;">{{$auth.user.email}}</span>
												<label>Email</label>
											</div>
										</div>
										<div class="col-lg-6">
											<div class="form-floating">
												<span class="form-control" style="line-height: 2.25;">{{$auth.user.fullname}}</span>
												<label>Họ và tên</label>
											</div>
										</div>
										<div class="col-lg-6">
											<div class="form-floating">
												<span class="form-control" style="line-height: 2.25;">{{order.createDate |
													date:'dd-MM-yyyy'}}</span>
												<label>Ngày đặt</label>
											</div>
										</div>
										<div class="col-lg-12">
											<div class="form-floating">
												<input type="text" class="form-control" placeholder="address" ng-model="order.address">
												<label>Địa chỉ</label>
											</div>
										</div>
										<div class="col-lg-6">
											<div class="form-floating">
												<select class="form-select form-control">
													<option value="1" selected>TP.HCM</option>
													<option value="2">Hà Nội</option>
													<option value="3">Hải Phòng</option>
												</select>
												<div class="field-caret"></div>
												<label for="floatingInput6rid">Chọn tỉnh thành</label>
											</div>
										</div>
										<div class="col-lg-6">
											<div class="form-floating">
												<input type="text" class="form-control" placeholder="address">
												<label>Mã vận đơn</label>
											</div>
										</div>
										<div class="col-12">
											<div class="btn-box">
												<button class="btn-shipping" ng-click="order.purchase()">Hoàn tất đặt hàng</button>
												<a class="btn-return" th:href="@{/cart/view}">Trở về giỏ hàng</a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-5">
							<div class="shipping-cart-subtotal-wrapper">
								<div class="shipping-cart-subtotal">
									<div class="shipping-cart-item" ng-repeat="item in cart.items">
										<div class="thumb">
											<img src="assets/images/{{item.image}}">
											<span class="quantity">{{item.qty}}</span>
										</div>
										<div class="content">
											<h4 class="title">{{item.name}}</h4>
											<span class="info">{{item.price | number:2}} VNĐ</span>
											<span class="price">{{item.qty*item.price | number:2}} VNĐ</span>
										</div>
									</div>
									<div class="shipping-subtotal">
										<p>
											<span>Tạm tính</span>
											<span>
												<strong>{{cart.amount | number : 2}} VNĐ</strong>
											</span>
										</p>
					
									</div>
									<div class="shipping-total">
										<p class="total">Tổng</p>
										<p class="price">
											<span class="usd">USD</span>
											{{cart.amount | number : 2}} VNĐ
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</main>
</body>
</html>