<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{/layout/index :: dynamic(~{::main})}">
<body>
	<main class="main-content">
		<div class="page-header-area">
			<div class="container">
				<div class="row">
					<div class="col-12 text-center">
						<div class="page-header-content">
							<nav class="breadcrumb-area">
								<ul class="breadcrumb">
									<li>
										<a href="/">Trang chủ</a>
									</li>
									<li class="breadcrumb-sep">/</li>
									<li>Giới thiệu</li>
								</ul>
							</nav>
							<h4 class="title">Giới thiệu</h4>
							<p>Chào mừng đến với NHKream!</p>
								<p>Bạn đang tìm kiếm những chiếc kem ngon nhất trong thị trấn? Hãy đến với NHKream! Chúng tôi cung cấp nhiều loại kem, từ những hương vị truyền thống yêu thích đến những sáng tạo độc đáo mới nhất. Kem của chúng tôi được làm bằng nguyên liệu tươi ngon nhất và luôn được làm theo đơn đặt hàng để đảm bảo độ tươi ngon.</p>

								<p>Tại NHKream, chúng tôi cung cấp:</p>

								<p>Nhiều loại kem, bao gồm kem sundae, kem ốc quế, kem ly, sinh tố kem và hơn thế nữa.
								Các hương vị kem truyền thống và sáng tạo.
								Kem làm bằng nguyên liệu tươi ngon nhất.
								Dịch vụ khách hàng thân thiện và chu đáo.
								Môi trường vui vẻ và thân thiện với gia đình.
								Dù bạn đang tìm kiếm món ăn nhẹ nhanh chóng hay món tráng miệng đặc biệt, NHKream đều có thứ gì đó phù hợp với mọi người. Hãy đến thăm chúng tôi ngay hôm nay và tự mình nếm thử!</p>

								<p>Ngoài ra, chúng tôi còn cung cấp:</p>
								<p>+Giao hàng tận nơi</p>
								<p>+Đặt hàng trực tuyến</p>
								<p>+Dịch vụ cho các sự kiện và tiệc tùng</p>
								<p>Chúng tôi rất mong được phục vụ bạn!</p>
								<p>P.S. Đừng quên theo dõi chúng tôi trên mạng xã hội để nhận thông tin cập nhật về các hương vị kem mới nhất, các ưu đãi đặc biệt và hơn thế nữa! </p>
						</div>
					</div>
				</div>
			</div>
		</div>

		<section class="about-area">
			<div class="container">
				<div class="row align-items-center">
					<div class="col-lg-6">
						<div class="about-thumb">
							<a href="javascript:(0);">
								<img class="w-100" src="assets/img/about2.jpg">
							</a>
						</div>
					</div>
					<div class="col-lg-6">
						<div class="about-content">
							<h4 class="title">NHKream</h4>
							</p>
							<a class="btn-theme" href="javascript:(0);">Xem thêm</a>
						</div>
					</div>
				</div>
			</div>
		</section>
<!--thay thế nội dung bằng nội dung của fragment có tên là "dynamic" 
trong tệp index.html của thư mục /layout.-->
		<hr>
	</main>
	<hr>
</body>
</html>