<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{/layout/index :: dynamic(~{::main})}">

<body>
	<main class="main-content">
		<div class="page-header-area">
			<div class="container">
				<div class="row">
					<div class="col-12 text-center">
						<div class="page-header-content">
							<h4 class="title mt-0">Yêu thích</h4>
						</div>
					</div>
				</div>
			</div>
		</div>

		<section class="product-area shopping-cart-area">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<div class="shopping-cart-wrap">
							<div class="cart-table table-responsive">
								<table class="table">
									<thead>
										<tr>
											<th class="indecor-product-remove">Xóa</th>
											<th class="indecor-product-thumbnail">Ảnh</th>
											<th class="indecor-product-name">Sản phẩm</th>
											<th class="indecor-product-price">Giá</th>
										</tr>
									</thead>
									<tbody>
										<tr ng-repeat="item in wishlist.items">
											<td class="indecor-product-remove">
												<a href="javascript:(0);" ng-click="wishlist.remove(item.id)">
													<i class="fa fa-trash"></i>
												</a>
											</td>
											<td class="indecor-product-thumbnail">
												<img class="w-50" src="assets/images/{{item.image}}">
											</td>
											<td class="indecor-product-name">
												<h4 class="title">{{item.name}}</h4>
											</td>
											<td class="indecor-product-price">
												<span class="price">${{item.price | number:2}}</span>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
							<div class="row">
								<div class="col-md-12 col-lg-7 col-12">
									<div class="coupon-all">
										<div class="coupon">
											<a class="button" href="javascript:(0);" ng-click="wishlist.clear()">Xóa danh sách yêu thích</a>
										</div>
									</div>
								</div>
						
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!--thay thế nội dung bằng nội dung của fragment có tên là "dynamic" 
trong tệp index.html của thư mục /layout.-->
	</main>
</body>
</html>